mycode/file_system.img
chap13/a/file_system.img
chap13/b/file_system.img
chap13/c/file_system.img
chap13/d/file_system.img

chap14/a/file_system.img
chap14/b/file_system.img
chap14/c/file_system.img
chap14/d/file_system.img
chap14/e/file_system.img
chap14/f/file_system.img
chap14/g/file_system.img
chap14/h/file_system.img
chap14/i/file_system.img
chap14/j/file_system.img
chap14/k/file_system.img
chap14/l/file_system.img
chap14/m/file_system.img
chap14/n/file_system.img

chap15/a/file_system.img
chap15/b/file_system.img
chap15/c/file_system.img
chap15/d/file_system.img
chap15/e/file_system.img
chap15/f/file_system.img
chap15/g/file_system.img
chap15/h/file_system.img
chap15/i/file_system.img
chap15/j/file_system.img
chap15/k/file_system.img